#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  input {
    min-width: 180px;
    margin-bottom: 1.5rem;
  }
  
  .result {
    color: lightslategrey;
  }
  
  .calculatorkeys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 320px;
    margin: 2rem auto 0 auto;
  }
  
  button {
    min-width: 60px;
    min-height: 60px;
  }